<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Search Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white font-sans">

    <!-- Header -->
    <header class="fixed top-0 w-full bg-black border-b border-gray-700">
        <div class="max-w-lg mx-auto flex items-center justify-between px-4 py-2">
            <div class="text-xl font-semibold">Search</div>
           <a href="/feed"> <div class="text-gray-400 text-sm">Cancel</div></a>
        </div>
    </header>

    <!-- Search Bar -->
    <div class="mt-16 max-w-lg mx-auto px-4">
        <div class="relative">
            <input type="text" id="input" placeholder="Search" class="w-full bg-gray-800 text-white placeholder-gray-400 rounded-lg py-2 px-4 pl-10 focus:outline-none">
            <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm7-3h-1l-.27-.27a7.03 7.03 0 001.45-4.55 7 7 0 10-7 7c1.7 0 3.3-.63 4.55-1.45L17 13V12zm-7-7a9 9 0 110 18 9 9 0 010-18z"></path>
            </svg>
        </div>
    </div>

    <!-- Recent Searches -->
    <div class="max-w-lg mx-auto mt-4 px-4">
        <h2 class="text-gray-400 text-lg mb-2">Recent</h2>
        <ul class="list">
            
           
           
        </ul>
    </div>

    <!-- Footer Navigation -->
    <div class="w-full flex justify-between absolute bottom-[5px] bg-black p-[10px]">
        <a href="/feed">
            <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 576 512">
                <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
            </svg>
        </a>
        <a href="/search">
            <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512">
                <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
        </a>
        <a href="/uploadPost">
            <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512">
                <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
            </svg>
        </a>
        <a href="/profile">
            <svg class="h-6" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512">
                <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
            </svg>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const input =  document.querySelector("#input") ;
      input.addEventListener("change",()=>{
            axios.get(`/posts/${input.value}`).then((data)=>{
                document.querySelector(".list").innerHTML = ""
                data.data.forEach(element => {
                    document.querySelector(".list").insertAdjacentHTML("beforeend",`<li class="py-2 border-b border-gray-800 flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <img src="/images/uploads/${element.profilePic}" alt="Profile" class="w-10 h-10 rounded-full object-cover">
                    <div>
                        <p class="font-semibold">${element.username}</p>
                        <p class="text-sm text-gray-400">${element.fullname}</p>
                    </div>
                </div>
                <svg class="text-gray-400" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M9 9H7V7h2v2zm8 0h-2V7h2v2zM9 17h6v-2H9v2zm6-8h2v2h-2V9zm0 4h2v2h-2v-2zm-8 0h2v2H7v-2zm8 4h2v2h-2v-2z"></path>
                </svg>
            </li>`)
                });
               
                
            })
      })
    </script>
</body>
</html>
